@model SimpleBlog.Views.Profile.PasswordViewModel

@{
    ViewBag.Title = "Edycja hasla";
    Layout = "~/Views/Share/_Layout_Main.cshtml";
    ViewBag.Active3 = "active";
}


<div class="container">

    <div class="row">
        <h1>Zmiana hasła</h1>
        <hr>
        <div class="col-md-8">
            @if (TempData["Message"] != null)
            {
                <span style="color:red;">@TempData["Message"].ToString()</span>
            }
            @if (TempData["MessageSuccess"] != null)
            {
                <span style="color:yellowgreen;">@TempData["MessageSuccess"].ToString()</span>
            }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.Label("Podaj obecne hasło:")
                    @Html.TextBoxFor(model => model.oldPassword, new { @class = "form-control", @type = "password" })
                    @Html.ValidationMessageFor(model => model.oldPassword, "", new { @style = "color:red" })
                </div>
                <div class="form-group">
                    @Html.Label("Podaj nowe hasło:")
                    @Html.TextBoxFor(model => model.newPaswword, new { @class = "form-control", @type = "password" })
                    @Html.ValidationMessageFor(model => model.newPaswword, "", new { @style = "color:red" })
                </div>
                <div class="form-group">
                    @Html.Label("Powtórz nowe hasło:")
                    @Html.TextBoxFor(model => model.reNewPassword, new { @class = "form-control", @type = "password" })
                    @Html.ValidationMessageFor(model => model.reNewPassword,"", new {@style="color:red" })
                </div>
                <button type="submit" class="btn btn-primary">Zmień hasło</button>
            }
        </div>
    </div>





</div>






